fastapi>=0.111.0
uvicorn[standard]>=0.29.0
sqlalchemy>=2.0.0
pydantic>=2.7.0
apscheduler>=3.10.4
cryptography>=42.0.5
psycopg2-binary>=2.9.9
PyMySQL>=1.1.0
pyodbc>=5.1.0
google-auth>=2.29.0
google-auth-oauthlib>=1.2.0
google-api-python-client>=2.128.0
pyinstaller>=6.6.0
